body {
  margin: 1em;
}

/* layout */

#fund_select {
  /*display: inline-block;*/
  float: right;
}

/* graphs */

svg {
  font: 12px sans-serif;
}

path {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.bars rect {
  fill: steelblue;
  stroke: steelblue;
}

/* loading/login */

.error {
  color: red;
}

.success {
  color: green;
}

#loader {
  display: none;
  vertical-align: middle;
  padding-left: .25em;
}

.loading #loader {
  display: inline-block;
}

