body {
  margin: 1em;
}

/* layout */

#fund_select {
  /*display: inline-block;*/
  float: right;
}

#login_form {
  margin: 1em 1em 0 0;
  float: left;
}

/* legend */

#legend li {
  display: inline-block;
  font-size: .8em;
  width: 12em;
  margin: 0;
}

#legend .icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin-right: .25em;
  vertical-align: middle;
}

/* graphs */

svg {
  font: 12px sans-serif;
}

path {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.bars rect {
  fill: steelblue;
  stroke: steelblue;
}

/* loading/login */

.error {
  color: red;
}

.success {
  color: green;
}

#loader {
  display: none;
  vertical-align: middle;
  padding-left: .25em;
}

.loading #loader {
  display: inline-block;
}

